<div id='audit'>
  <div class='row datatable'>
    <div class='col-12'>
      <div class='box'>
        <h1>Recent Analyses</h1>

        <table class='table table-striped dtable'>
          <thead>
            <tr>
              <th class='types'>Date</th>
              <th>URL</th>
            </tr>
          </thead>

          <tbody>
            <% @analyses.each do |analysis| %>
              <tr>
                <td class='types'><%= analysis.created_at %></td>
                <td><%= link_to("#{analysis.url}", analysis) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

