<div class='app-header'>
  <div class='header-logo'>
  </div>

  <div class='header-nav'>
    <ul class="list-unstyled components">
      <li><%#= link_to("Admin", '/', class: admin_class) %></li>
    </ul>
  </div>
</div>
