<div class='app-header'>
  <div class='header-logo'>
  </div>

  <div class='header-nav'>
    <ul class="list-unstyled components">
      <li><%= link_to("New Analysis", '/', class: 'btn') %></li>
      <li><%= link_to("Schemas", '/schemas', class: 'btn') %></li>
    </ul>
  </div>
</div>
