<div class='app-header'>
  <div class='header-logo'>
  </div>

  <div class='header-nav'>
    <ul class="list-unstyled components">
      <li><%= link_to("New Analysis", root_path, class: 'btn') %></li>
      <li><%= link_to("Recent Tests", analyses_path, class: 'btn') %></li>
      <li><%= link_to("Schemas", schemas_path, class: 'btn') %></li>
    </ul>
  </div>
</div>
