<div id='audit'>
  <div class='row datatable'>
    <div class='col-12'>
      <div class='box'>
        <h1>Schema Library</h1>

        <table class='table table-striped dtable'>
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <% @schemas.each do |schema| %>
              <tr>
                <td><%= link_to("#{schema.name}", schema) %></td>
                <td><%= link_to("#{schema.url}", schema.url) %></td>
                <td><%= schema.comment.html_safe %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

